<%- include('../partials/header.ejs') %>
    <div class="user-form">
        <label>First Name:</label>
        <p><%= user.firstName %></p>

        <label>Last Name:</label>
        <p><%= user.lastName %></p>

        <label>Email:</label>
        <p><%= user.email %></p>
    </div>

</div>
<%- include('../partials/footer.ejs') %>