<%- include('../partials/header.ejs')%> 
<main>
    <h1>Item Details</h1>
    
    <section class="item-detail-container">
        <!-- Left Column: Image -->
        <div class="item-image">
            <img src="/images/<%= item.image %>" alt="Vintage Jeans">
        </div>
        
        <!-- Right Column: Item Details -->
        <div class="item-info">
            <h2><%= item.title %></h2>
            <p><strong>Condition:</strong> <%= item.condition %></p>
            <p><strong>Size:</strong> <%= item.size %></p>
            <p><strong>Offers Received:</strong> <%= item.offers %></p>
            <p><strong>Seller:</strong> <%= item.seller %></p>
            <p><strong>Price:</strong> $<%= item.price %></p>
            
            <div class="item-actions">
                <form>
                    <button type = "submit" formmethod="GET" formaction="/items/<%=item.id%>/edit" class="btn edit-btn">
                        <i class="fa-solid fa-pen-to-square"></i>Edit</button>
                    <button type = "submit" formmethod="POST" formaction="/items/<%=item.id%>?_method=DELETE" class="btn delete-btn">
                        <i class="fa-solid fa-trash"></i>Delete</button>
                </form>
            </div>
        </div>
    </section>
</main>
<%- include('../partials/footer.ejs')%> 